.bgimage{
    content: "";
    position: fixed;
    left: -5px;
    top: -20px;
    z-index: -1;

    display: block;
    background-image: url('here-lies.jpg');
    width: 1920px;
    height: 1200px;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content{
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 5px #000000;
    padding: 10px;
    margin: 1px;
    opacity: 0.9;
    filter: alpha(opacity=80);
    position: relative;
    left: 0;
    top: 6em;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;

    text-align: center;
}

.poemcontainer{
    margin-left: auto;
    margin-right: auto;
    width: 45em;
}
